@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i');

@media screen and (max-width: 500px) {
  div { width:70%; }
}
@media screen and (max-device-width: 800px) {
  html { background: url(images/poster.png) #000 no-repeat center center fixed; }
  video { display: none; }
}

* {
  margin: 0;
}
/*/////// Layout ////////*/

body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 18px;
}

/*/////// NAV ////////*/
.nav {
  font-family: 'Noto Sans', sans-serif;
  text-align: right;
  z-index: 1;
  position: absolute;
  bottom: 34px;
  right: 3%;
}

.nav a #alternates {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 17px;
  style: italic;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px
}

.nav h1 {
  color: white;
  font-size: 17px;
  style: italic;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 5px;
}

.nav a{
  color: rgba(255,255,255, 0.15);
  font-size: 17px;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover{
  color: rgba(255,255,255, 0.8);
}


/*/////// MEDIA ////////*/

img, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('images/poster.png') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}

/*/////// SOCIAL ////////*/

.social {
  width: 100%;
  position: absolute;
  bottom: 20px;
}

.social-wrap {
  width: 200px;
  margin: auto;
}

.social a {
  display: block;
  width: 30px;
  height: 28px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  margin: 10px;
}

a.fb, a.twit, a.tumb, a.insta {
  background: url(images/sheet.png) no-repeat;
  opacity: 0.15;
}
a.fb:hover, a.twit:hover, a.tumb:hover, a.insta:hover {
  opacity: 0.75;
}

a.tumb { background-position: 8px 0;}
a.insta { background-position: -41px 0;}
a.twit { background-position: -93px 0;}
a.fb { background-position: -143px 0;}
